.grass {
  background-color: #080;
  border-color: white;
  border-style: solid;
  border-width: 0;;
}

.grass-bottom-right {
  grid-column: 5;
  grid-row: 5;
  border-top-left-radius: 50px;
  border-width: 5px 0 0 5px;
}

.grass-bottom-left {
  grid-column: 1;
  grid-row: 5;
  border-top-right-radius: 50px;
  border-width: 5px 5px 0 0;
}

.grass-top-right {
  grid-column: 5;
  grid-row: 1;
  border-bottom-left-radius: 50px;
  border-width: 0 0 5px 5px;
}

.grass-top-left {
  grid-column: 1;
  grid-row: 1;
  border-bottom-right-radius: 50px;
  border-width: 0 5px 5px 0;
}