.lane-bottom {
  border-top: solid 10px white;
  display: grid;
  grid-template-columns: 3px 1fr;
  grid-column: 3 / 5;
  grid-row: 5;
  height: calc(100% - 50px);
  align-self: end;
}

.lane-top {
  border-bottom: solid 10px white;
  display: grid;
  grid-template-columns: 1fr 3px;
  grid-column: 2 / 4;
  grid-row: 1;
  height: calc(100% - 50px);
  align-self: start;
}

.lane-left {
  border-right: solid 10px white;
  display: grid;
  grid-template-rows: 3px 1fr;
  grid-column: 1;
  grid-row: 3 / 5;
  width: calc(100% - 50px);
  justify-self: start;
}

.lane-right {
  border-left: solid 10px white;
  display: grid;
  grid-template-rows: 1fr 3px;
  grid-column: 5;
  grid-row: 2 / 4;
  width: calc(100% - 50px);
  justify-self: end;
}

.lane-bottom::after,
.lane-top::after {
  content: "";
  background-image: repeating-linear-gradient(
    white 0px,
    white 30px,
    transparent 30px,
    transparent 60px
  );
}

.lane-bottom::after {
  grid-column: 1;
}

.lane-top::after {
  grid-column: 2;
}

.lane-left::after,
.lane-right::after {
  content: "";
  background-image: repeating-linear-gradient(
    90deg,
    white 0px,
    white 30px,
    transparent 30px,
    transparent 60px
  );
}

.lane-left::after {
  grid-row: 1;
}

.lane-right::after {
  grid-row: 2;
}